@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Space+Grotesk:wght@300..700&display=swap');

.product-scroll::-webkit-scrollbar {
  display: none;
}

.product-scroll {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.active-link-donor li{
  border-right: 3px solid #f97316;
  background-color: #ffedd5;
  color: #b45309;
  font-weight: 600;
}


.active-link-ngo li {
  border-right: 3px solid #43A047;
  background-color: #C8E6C9;
  color: #1B5E20;
  font-weight: 600;
}


body {
  overflow-x: hidden;
}


@import "tailwindcss";

@theme{
  --font-pop:"Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-cur: cursive;
  --font-space: "Space Grotesk", sans-serif;
  --font-prata: "Prata", serif;
  --font-outfit: "Outfit", sans-serif;
}
